<!DOCTYPE html>
<html lang="ko"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{common/layout/public}">

<head>
    <title>회원가입</title>
    <th:block layout:fragment="page-style">
        <link rel="stylesheet" href="/css/pages/user/signup.css">
    </th:block>
</head>
<th:block layout:fragment="page-content">
    <div class="panels is-stacked">
        <section class="panel">
            <header class="panel-header">
                <h1 class="heading">회원가입</h1>
                <div class="is-flex is-justify-content-between-space is-align-items-center">
                    <h2 class="sub-heading">WIPLE의 회원이 되어보세요.</h2>
                    <span class="caption is-text-helper">* 표시 는 필수 입력 항목입니다.</span>
                </div>
            </header>
            <div class="panel-body">
                <form id="signup-form" class="content-form">
                    <div class="field is-stacked">
                        <div class="field">
                            <label for="email" class="label is-required">이메일</label>
                            <div class="controls has-inline">
                                <div class="control is-expanded">
                                    <input type="text" name="email" id="email" class="input" autocomplete="off">
                                </div>
                                <div class="control">
                                    <button type="button" id="verify-email-btn" class="button is-primary">중복 확인</button>
                                </div>
                            </div>
                        </div>
                        <div class="field">
                            <label for="password" class="label is-required">비밀번호</label>
                            <div class="control">
                                <input type="password" name="password" id="password" class="input" autocomplete="off">
                            </div>
                            <span class="caption help">비밀번호 : 영문, 숫자, 특수 문자를 포함한 8~16자</span>
                        </div>
                        <div class="field">
                            <label for="password-confirm" class="label is-required">비밀번호 확인</label>
                            <div class="control">
                                <input type="password" name="passwordConfirm" id="password-confirm" class="input" autocomplete="off">
                            </div>
                        </div>
                        <div class="field">
                            <label for="nickname" class="label is-required">닉네임</label>
                            <div class="controls has-inline">
                                <div class="control is-expanded">
                                    <input type="text" name="nickname" id="nickname" class="input" autocomplete="off">
                                </div>
                                <div class="control">
                                    <button type="button" id="verify-nickname-btn" class="button is-primary">중복 확인</button>
                                </div>
                            </div>
                            <span class="caption help">닉네임 : 영문, 숫자를 포함한 3~20자</span>
                        </div>
                        <div class="field">
                            <label for="name" class="label is-required">이름</label>
                            <div class="control">
                                <input type="text" name="name" id="name" class="input" autocomplete="off">
                            </div>
                        </div>
                    </div>
                    <div class="field is-stacked">
                        <div class="field">
                            <div class="control">
                                <button id="signup-btn" class="button is-primary">가입하기</button>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </section>
        <section class="panel is-padding-v-md">
            <div class="panel-body has-text-centered">
                가입된 계정이 있으신가요? <a href="/" class="is-text-link is-underlined-hover">로그인</a>
            </div>
        </section>
    </div>
</th:block>

<th:block layout:fragment="page-script">
</th:block>
</html>