<!DOCTYPE html>
<html lang="ko"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{common/layout/public}">

<head>
    <title>회원가입</title>
    <link rel="stylesheet" href="/css/pages/user/signup.css">
</head>
<th:block layout:fragment="page-content">
    <div class="panels is-stacked">
        <section class="panel">
            <header class="panel-header">
                <div class="has-img is-size-avatar-md is-margin-auto">
                    <img src="/images/symbol-wiple.png" alt="로고">
                </div>
                <span class="caption is-text-help has-text-right is-margin-top-lg">
                    <i class="is-text-secondary is-text-sm">*</i> 표시는 필수 입력 항목입니다.
                </span>
            </header>
            <div class="panel-body">
                <form id="signup-form" class="content-form">
                    <div class="field is-stacked">
                        <div class="field">
                            <label for="email" class="label is-required">이메일</label>
                            <div class="controls has-inline">
                                <div class="control is-expanded">
                                    <input type="text" name="email" id="email" class="input" autocomplete="off">
                                </div>
                                <div class="control">
                                    <button type="button" id="verify-email-btn" class="button is-primary">중복 확인</button>
                                </div>
                            </div>
                        </div>
                        <div class="field">
                            <label for="password" class="label is-required">비밀번호</label>
                            <div class="control">
                                <input type="password" name="password" id="password" class="input" autocomplete="off">
                            </div>
                            <span class="caption help"><i class="icon-info-circled"></i> 영문 + 숫자 + 특수문자 조합의 8~16자</span>
                        </div>
                        <div class="field">
                            <label for="password-confirm" class="label is-required">비밀번호 확인</label>
                            <div class="control">
                                <input type="password" name="passwordConfirm" id="password-confirm" class="input" autocomplete="off">
                            </div>
                        </div>
                        <div class="field">
                            <label for="nickname" class="label is-required">닉네임</label>
                            <div class="controls has-inline">
                                <div class="control is-expanded">
                                    <input type="text" name="nickname" id="nickname" class="input" autocomplete="off">
                                </div>
                                <div class="control">
                                    <button type="button" id="verify-nickname-btn" class="button is-primary">중복 확인</button>
                                </div>
                            </div>
                            <span class="caption help"><i class="icon-info-circled"></i> 영문 + 숫자 조합의 3~20자</span>
                        </div>
                        <div class="field">
                            <label for="name" class="label is-required">이름</label>
                            <div class="control">
                                <input type="text" name="name" id="name" class="input" autocomplete="off">
                            </div>
                        </div>
                    </div>
                    <div class="field is-stacked">
                        <div class="field">
                            <div class="control">
                                <button id="signup-btn" class="button is-primary">가입하기</button>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </section>
        <section class="panel is-padding-v-md">
            <div class="panel-body has-text-centered">
                가입된 계정이 있으신가요? <a href="/" class="is-text-link is-underlined-hover">로그인</a>
            </div>
        </section>
    </div>
</th:block>

<th:block layout:fragment="page-script">
</th:block>
</html>