@charset "UTF-8";

/*!
 * enter the description about this file...
 */




/* ++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++
    99_네비게이션 바
 ++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++ */
/* ==================================================
    # 서브 섹션
 ================================================== */
element {}






/* ++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++
    99_패널
 ++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++ */
/* ==================================================
    # 패널 그룹화 레이아웃
 ================================================== */ 
.panel-container {
    display: flex;
    flex-direction: column;
    gap: var(--spacing-lg) var(--spacing-none);

    &.is-grouped {
        flex-direction: row;
        gap: var(--spacing-none) var(--spacing-md);
    }
}



/* ==================================================
    # 패널
 ================================================== */
.panel {
    padding: var(--spacing-xl);
    border: var(--border-width-normal) solid var(--color-border);
    border-radius: var(--border-radius-md);
    background-color: var(--color-background-content);
}

.panel .panel-header {
    margin-bottom: var(--spacing-lg);
}

.panel .panel-body {
    line-height: var(--line-height-body);
}




/* ++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++
    99_탭
 ++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++ */
/* ==================================================
    # 서브 섹션
 ================================================== */
element {}





/* ++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++
    99_버튼
 ++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++ */
/* ==================================================
    # 서브 섹션
 ================================================== */
.button {

}


/* ++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++
    99_섹션
 ++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++ */
/* ==================================================
    # 서브 섹션
 ================================================== */
element {}





