@charset "UTF-8";

/*!
 * enter the description about this file...
 */




/* ++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++
    01_폼 요소
 ++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++ */
/* ==================================================
    # 라벨 및 텍스트
 ================================================== */
.label {
    margin-bottom: var(--spacing-xs);
    font-family: inherit;
    font-weight: var(--font-weight-bold);
    font-size: inherit;
    color: var(--color-text-strong);

    &.is-required:after {
        margin-left: var(--spacing-xs);
        font-size: calc(var(--text-sm) - 2px);
        color: var(--color-secondary);
        content: "*";
    }
}


.help {
    margin-top: var(--spacing-xs);
    color: var(--color-text-muted);
}



/* ==================================================
    # 폼 컨트롤 요소
 ================================================== */
.input,
.select select {
    width: var(--control-element-width);
    height: var(--control-element-height);
    padding: var(--spacing-sm) calc(var(--spacing-sm) + 2px);
    border: var(--border-width-normal) solid var(--color-border);
    border-radius: var(--border-radius-sm);
    background-color: var(--color-background-content);
    font-family: inherit;
    font-weight: inherit;
    font-size: inherit;
    color: var(--color-text);
}


.input {
    &::placeholder {
        color: var(--color-text-placeholder);
    }

    &:focus {
        border-color: var(--color-border-focus);
    }
}


.select::after {
    position: absolute;
    right: 0.75rem;
    top: 50%;
    width: var(--icon-sm);
    height: var(--icon-sm);
    background: url("/images/form/ic-select-arrow-down.svg") no-repeat center / contain;
    content: "";
    transform: translateY(-50%);
    pointer-events: none;

}

.select select {
    width: var(--control-element-width);

    &:focus {
        border-color: var(--color-border-focus);
    }
}




/* ++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++
    02_폼 요소 레이아웃
 ++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++ */
/* ==================================================
    # 폼 필드 레이아웃
 ================================================== */
.field {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    width: 100%;

    &:not(:last-child) {
        margin-bottom: var(--spacing-md);
    }

    &.is-stacked:not(:last-child) {
        margin-bottom: var(--spacing-lg);
    }

    &.is-grouped {
        flex-direction: row;

        &:not(:last-child) {
            margin-right: var(--spacing-lg);
        }
    }
}



/* ==================================================
    # 폼 컨트롤 요소 레이아웃
 ================================================== */
.field .control {
    flex: 1 1 0;
    position: relative;
    min-width: 0;

    &:focus-within {
        z-index: 1;
    }
}

/* 폼 컨트롤 레이아웃 그룹화 */
.field .controls {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    width: 100%;

    &.has-inline {
        gap: var(--spacing-none) var(--spacing-xs);
    }

    &.has-addons {
        gap: var(--spacing-none);
    }
}

.field .controls .control.is-expanded,
.field .controls.has-inline .control.is-expanded,
.field .controls.has-addons .control.is-expanded {
    flex-grow: 2;
}

.field .controls .control:not(.is-expanded),
.field .controls.has-inline .control:not(.is-expanded),
.field .controls.has-addons .control:not(.is-expanded) {
    flex: 0 0 auto;
}

.field .controls.has-inline .inline-text {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    font-size: var(--text-md);
}

.field .controls.has-addons .control:not(:last-child) {
    margin-inline-end: -1px;
}

.field .controls.has-addons .control:first-child:not(:only-child) * {
    border-start-end-radius: var(--border-radius-none);
    border-end-end-radius: var(--border-radius-none);
}

.field .controls.has-addons .control:not(:first-child):not(:last-child) * {
    border-radius: var(--border-radius-none);
}

.field .controls.has-addons .control:last-child:not(:only-child) * {
    border-start-start-radius: var(--border-radius-none);
    border-end-start-radius: var(--border-radius-none);
}




/* ++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++
    03_폼 유효성 UI
 ++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++ */
/*
    - .control + .is-[valid | invalid]
    - .control + .is-[valid | invalid] + .has-feedback-icon > .input + .icon
    - .[valid || invalid ]-feedback : message
*/

.is-invalid .input,
.is-invalid .select select {
    border-color: var(--color-danger);
}

.is-valid .input,
.is-valid .select select {
    border-color: var(--color-success);
}

.is-invalid .has-feedback-icon .input,
.is-invalid .has-feedback-icon .select select,
.is-valid .has-feedback-icon .input,
.is-valid .has-feedback-icon .select select {
    padding-right: var(--spacing-xl);
}

.is-invalid .has-feedback-icon .icon,
.is-valid .has-feedback-icon .icon {
    display: flex;
    position: absolute;
    align-items: center;
    top: 0;
    bottom: 0;
    right: var(--spacing-xs);
    font-size: var(--icon-sm);
}

.invalid-feedback,
.valid-feedback {
    display: inline-block;
    margin-top: var(--spacing-xs);
    font-family: inherit;
    font-weight: inherit;
    font-size: var(--text-sm);
}

.is-invalid .has-feedback-icon .icon,
.invalid-feedback {
    color: var(--color-danger);
}

.is-valid .has-feedback-icon .icon,
.valid-feedback {
    color: var(--color-success);
}