@charset "UTF-8";

/*!
 * enter the description about this file...
 */
 

 
 
/* ++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++
    99_폼
 ++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++ */
/* ==================================================
    # 내부 레이아웃
 ================================================== */ 
.field {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    width: 100%;

    &:not(:last-child) {
        margin-bottom: var(--spacing-md);
    }

    &.is-stacked:not(:last-child) {
        margin-bottom: var(--spacing-lg);
    }

    &.is-grouped {
        flex-direction: row;

        &:not(:last-child) {
            margin-right: var(--spacing-lg);
        }
    }
}

.field .controls {
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 100%;

    &.has-addons {
        gap: var(--spacing-none);
    }

    &.has-inline {
        gap: var(--spacing-none) var(--spacing-xs);
    }
}

.field .controls.has-addons .control:not(:last-child) {
    margin-inline-end: -1px;
}

.field .controls.has-addons .control:first-child:not(:only-child) .input,
.field .controls.has-addons .control:first-child:not(:only-child) .select select,
.field .controls.has-addons .control:first-child:not(:only-child) .button {
    border-start-end-radius: var(--border-radius-none);
    border-end-end-radius: var(--border-radius-none);
}

.field .controls.has-addons .control:not(:first-child):not(:last-child) .input,
.field .controls.has-addons .control:not(:first-child):not(:last-child) .select select,
.field .controls.has-addons .control:not(:first-child):not(:last-child) .button {
    border-radius: var(--border-radius-none);
}

.field .controls.has-addons .control:last-child:not(:only-child) .input,
.field .controls.has-addons .control:last-child:not(:only-child) .select select,
.field .controls.has-addons .control:last-child:not(:only-child) .button {
    border-end-start-radius: var(--border-radius-none);
    border-start-start-radius: var(--border-radius-none);
}

.field .controls.has-inline span,
.field .controls.has-inline i {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    font-size: var(--text-md);
}

.field .controls .control {
    flex: 0 0 auto;

    &.is-expanded {
        flex: 1 1 0;
        min-width: 0;
    }
}

.field .control {
    position: relative;

    &:focus-within {
        z-index: 1;
    }
}




/* ++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++
    02_폼 요소
 ++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++ */
/* ==================================================
    # 라벨
 ================================================== */
.label {
    margin-bottom: var(--spacing-sm);
    font-weight: var(--font-weight-bold);
    color: var(--color-text-strong);

    &.required:after {
        content: '*';
        font-size: var(--text-sm);
        color: var(--color-secondary);
    }
}



/* ==================================================
    # 입력 필드
 ================================================== */
.element {}




/* ++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++
    99_섹션
 ++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++ */
/* ==================================================
    # 서브 섹션
 ================================================== */
element {}




/* ++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++
    99_섹션
 ++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++ */
/* ==================================================
    # 서브 섹션
 ================================================== */
element {}




/* ++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++
    99_섹션
 ++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++ */
/* ==================================================
    # 서브 섹션
 ================================================== */
element {}