<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<th:block th:fragment="headLibs">
    <link rel="shortcut icon" href="/favicon.ico" type="image/x-icon">

    <link rel="stylesheet" href="/css/common/libs/fontello/css/fontello.css">
    <link rel="stylesheet" href="/css/common/base.css">
    <link rel="stylesheet" href="/css/common/layout.css">
    <link rel="stylesheet" href="/css/common/elements.css">
    <link rel="stylesheet" href="/css/common/components.css">
    <link rel="stylesheet" href="/css/common/forms.css">
    <link rel="stylesheet" href="/css/common/utils.css">
</th:block>
</html>